// General settings
params {
    input_dir = "/path/to/your/fastq/files" // Default path to FASTQ files directory
    database = "${projectDir}/database/database.tar.gz"
    env = 'singularity' // Options: 'singularity', 'docker', 'conda'
    library = 'paired' // Options: 'paired', 'single
    output_dir = "Flusionout"
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    platform = 'linux/amd64'
}

manifest {
  name            = ''
  description     = ''
  homePage        = ''
  author          = ''
  version         = ''
  nextflowVersion = '23.04.1'
  mainScript      = 'main.nf'
  doi             = ''
}