params {
    sample_name = ''
    database = './database/database'
    fastq_r1 = ''
    fastq_r2 = ''
}

process {
    withName: irma {
        container = 'library://wallaulabs/flufind/irma:1.1.3'
    withName: genoflu
        container = 'library://wallaulabs/flufind/genoflu:1.2.0'
    withName: nextclade
        container = 'library://wallaulabs/flufind/nextclade:3.0.0'
    withName: blast
        container = 'library://wallaulabs/flufind/genoflu:1.2.0'
    executor = 'local'
        cpus = 8
    }
}

singularity {
    enabled = true
    autoMounts = true
}