params {
    sample_name = ''
    database = ''
    fastq_r1 = ''
    fastq_r2 = ''
    output_dir = 'flusionout'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    platform = 'linux/amd64'
}

manifest {
  name            = ''
  description     = ''
  homePage        = ''
  author          = ''
  version         = ''
  nextflowVersion = '!>=22.10.1'
  mainScript      = 'main.nf'
  doi             = ''
}